{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
   <div class="jumbotron">

    <div class="center">
      <div class="row">
        {% for listing in listings %}
          <div class="col-md-3">
            <div class="thumbnail">
                  <div class="caption">
                       <h3><a href="{{ url_for('listing_show', listing_id=listing.id) }}">{{ listing.name }}</a></h3>
                    <p>{{ listing.price }}</p>
                    <p>”listed by name"</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
{% endblock %}

